section.my-portfolio {
  width: 100%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.my-portfolio .content-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.my-portfolio .content-title div:first-child {
  font-size: 24px;
  color: var(--secondary-color);
}

section.my-portfolio .content-title div:last-child {
  font-size: 36px;
  color: var(--primary-color);
  font-weight: bold;
}

section.my-portfolio .portfolio-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 60px;
  padding: 0 150px 0 150px;
}

section.my-portfolio .portfolio-list .portfolio {
  width: 30%;
  height: 250px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  background-color: #f2f2f2;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

section.my-portfolio .portfolio-list .portfolio .portfolio-header {
  display: flex;
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 20px;
  font-size: 24px;
  font-weight: bold;
}

section.my-portfolio .portfolio-list .portfolio:first-child .portfolio-header {
  color: #404c99;
}

section.my-portfolio .portfolio-list .portfolio:nth-child(2) .portfolio-header {
  color: #0a9100;
}
section.my-portfolio .portfolio-list .portfolio:nth-child(3) .portfolio-header {
  color: #4581f6;
}

section.my-portfolio
  .portfolio-list
  .portfolio
  .portfolio-header
  .portfolio-name {
  margin-left: 10px;
}

section.my-portfolio .portfolio-list .portfolio .circle-1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0.25;
  position: absolute;
  top: -50px;
  right: -100px;
  z-index: 0;
}

.portfolio:first-child .circle-1 {
  background-color: #404c99;
}

.portfolio:nth-child(2) .circle-1 {
  background-color: #0a9100;
}
.portfolio:nth-child(3) .circle-1 {
  background-color: #0055ff;
}

section.my-portfolio .portfolio-list .portfolio .circle-2 {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  opacity: 0.25;
  position: absolute;
  top: 100px;
  left: -100px;
  z-index: 0;
}

.portfolio:first-child .circle-2 {
  background-color: #404c99;
}

.portfolio:nth-child(2) .circle-2 {
  background-color: #0a9100;
}
.portfolio:nth-child(3) .circle-2 {
  background-color: #0055ff;
}

section.my-portfolio .portfolio-list .portfolio .webpage-example img {
  height: 60%;
  width: 70%;
  object-fit: cover;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  border-radius: 16px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 1200px) {
  section.my-portfolio .portfolio-list {
    padding: 0 50px 0 50px;
  }
  section.my-portfolio .portfolio-list .portfolio {
    width: 45%;
  }

  section.my-portfolio .portfolio-list .portfolio:last-child {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 800px) {
  section.my-portfolio .portfolio-list {
    padding: 0;
  }

  section.my-portfolio .portfolio-list .portfolio {
    width: 70%;
  }

  section.my-portfolio .portfolio-list .portfolio:not(:first-child) {
    margin-top: 25px;
  }
}
